#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
  */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.success, .error, .warning, .info {
  padding: 5px 20px;
  border-radius: 5px;
}

.success {
  color: rgb(38, 95, 38);
  border: 5px solid rgb(119, 212, 119);
}

.error {
  color: rgb(110, 51, 42);
  border: 5px solid rgb(212, 131, 119);
}

.warning {
  color: rgb(110, 100, 42);
  border: 5px solid rgb(212, 204, 119);
}

.info {
  color: rgb(42, 57, 110);
  border: 5px solid rgb(119, 128, 212);
}

.alert-button {
  padding: 4px 6px;
  border: 1px solid gray;
}
.product-display {
  margin: 20px 0px;
  padding: 40px;
  border: 10px solid green;
  border-radius: 20px;
}
.product-image {
  max-width: 100px;
}
.alert-button {
  background-color: green;
  color: white;
  border-radius: 5px;
}
#user-box {
  display: flex;
}
.user-display {
  border: 1px solid gray;
  border-radius: 5px;
}
.edit-button {
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}